rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all operations for any user.
    // This is insecure and should only be used for development.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
