@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 347 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 113 98% 47%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 347 100% 50%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 347 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 92%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 347 100% 50%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 347 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 113 98% 47%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 347 100% 60%;

    --sidebar-background: 240 6% 8%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 347 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 6% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }
  
  .font-display {
    font-family: var(--font-inter), sans-serif;
    @apply font-black tracking-tight leading-[1.1];
  }
  
  .font-headline {
    font-family: var(--font-inter), sans-serif;
    @apply font-extrabold tracking-tight leading-none;
  }

  .font-body {
    font-family: var(--font-inter), sans-serif;
  }
}
